#letterboxd-overlay {
    position: fixed;
    top: 9px;
    right: 20px;
    z-index: 10000;
    pointer-events: none;
}

#letterboxd-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C343F;
    color: white;
    border: 1px solid #556678;
    padding: 10px 15px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
    pointer-events: auto;
    background-image: url('icon2.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
    padding-right: 45px;
    position: relative;
}

#button-info {
    display: none; /* Initially hidden */
    position: absolute;
    top: 100%; /* Position below the button */
    left: 0;
    background-color: #2C343F;
    color: white;
    padding: 10px;
    border-radius: 0 0 7px 7px;
    width: max-content;
    max-width: 250px;
    z-index: 10001;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

#letterboxd-button:hover + #button-info {
    display: block;
    opacity: 1;
    max-height: 300px;
}

#letterboxd-button:hover {
    background-color: #556678;
    border-color: #556678;
}