
body, html {
    background: #363a4f;
    color: #cad3f5;
    margin: 0;
    font-family: system-ui;
    user-select: none;
}

#elements-pane {
    max-width: 360px;
    
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 1rem;
}

.title {
    font-size: 1rem;
    margin: 0;
    flex: 1;
}

.icon {
    vertical-align: middle;
    cursor: pointer;
}

.ko-fi-icon {
    width: 1.7rem;
    height: 1.7rem;
}

.github-icon {
    width: 1.55rem;
    height: 1.55rem;
}

.header img {
    margin-left: 0.5em;
}

.content {
    background: #1e2030;
    padding: 1rem;

}

.shortcut-info {
    font-size: 0.9em;
    color: #b8c0e0;
    margin-top: 1em;
}

.info {
    font-size: 0.75em;
    color: #a5adcb;
}

.settings-section {
    margin-top: 0rem;
}

.settings-label {
    font-size: 0.9em;
    color: #cad3f5;
}

#toggle-overlay {
    margin-left: 0.5rem;
}

a[href="about:addons"] {
    color: #f5a97f;
    text-decoration: underline; 
  }
  

  a[href="about:addons"]:hover {
    color: #eed49f;
  }